body {
    background-image: url(fly.jpg);
    background-size: 31em;
    font-family: fantasy;
}


nav {
    border:10px solid black;
    padding: 20px;
    font-size: 150%;
    background-color: black;
    color: goldenrod;
    display: flex;
    justify-content: space-around;
}

.description {
    border: 10px solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    text-align: center;
    color: goldenrod;
    margin-left: 200px;
    margin-right: 200px;
}
